In [2]:
import pandas as pd
import numpy as np

## Questão 1

In [12]:
eventos = pd.read_csv('https://raw.githubusercontent.com/STNeto1/ifpb/master/estatistica/csv_files/eventos19.csv', encoding='latin1')
extensao = pd.read_csv('https://raw.githubusercontent.com/STNeto1/ifpb/master/estatistica/csv_files/extensao19.csv', encoding='latin1')
pesquisa = pd.read_csv('https://raw.githubusercontent.com/STNeto1/ifpb/master/estatistica/csv_files/pesquisa19.csv', encoding='latin1')
pesquisadores = pd.read_csv('https://raw.githubusercontent.com/STNeto1/ifpb/master/estatistica/csv_files/pesquisadores19.csv', encoding='latin1')
projetos_pesquisa = pd.read_csv('https://raw.githubusercontent.com/STNeto1/ifpb/master/estatistica/csv_files/projetos_pesquisa19.csv', encoding='latin1')

In [17]:
projetos_pesquisa

,Campus,Tï¿½tulo,Nome Coordenador
Almenara,Desenvolvimento de mï¿½todo analï¿½tico para d...,Ednilton Moreira Gama,NaN
Almenara,Aprimorar ï¿½ preciso: Pesquisa de percepï¿½ï¿...,Alfredo Costa,NaN
Almenara,Produï¿½ï¿½o de guias de estudo para o modelo ...,Regina Mendes de Araï¿½jo,NaN
Almenara,Avaliaï¿½ï¿½o Gerencial em Administraï¿½ï¿½o P...,Dayane Patrï¿½cia Cunha de Franï¿½a,NaN
Almenara,Anï¿½lise do Perfil Epidomiologia da Hansenï¿½...,Leila Conceiï¿½ï¿½o de Paula Miranda,NaN
...,...,...,...
Teï¿½filo Otoni,Mapeamento e estrutura cultural do Norte de Mi...,Yuri Bento Marques,NaN
Teï¿½filo Otoni,"Impactos da erosï¿½o hï¿½drica, perda de solo ...",Ivan Carlos Carreiro Almeida,NaN
Teï¿½filo Otoni,Empreendedores versus inventores: Testagem de ...,Gustavo Henrique Silva de Souza,NaN
Teï¿½filo Otoni,Influï¿½ncia do Uso do Solo e da Topografia na...,Ivan Carlos Carreiro Almeida,NaN
Teï¿½filo Otoni,Instrumentaï¿½ï¿½o Padronizada na Administraï¿...,Ana Clï¿½udia Gonï¿½alves de Sï¿½ Jardim,NaN


## Questão 2

In [20]:
vendas18 = pd.read_csv('https://raw.githubusercontent.com/STNeto1/ifpb/master/estatistica/vendas18.csv', delimiter=';')
vendas17 = pd.read_csv('https://raw.githubusercontent.com/STNeto1/ifpb/master/estatistica/vendas17.csv', delimiter=';', encoding='latin1')

In [21]:
vendas18.set_index(['ANO', 'ESTADO'], inplace=True)
vendas17.set_index(['ANO', 'ESTADO'], inplace=True)

In [22]:
vendas17_18 =  pd.concat([vendas17, vendas18], join='outer', ignore_index=False, keys=None,
          levels=None, names=None, verify_integrity=False, copy=True)

In [23]:
vendas17_18

                 CODIGO IBGE                Municipio  Vendas
ANO  ESTADO
2017 Acreï¿½         1200203          CRUZEIRO DO SUL  194000
     Acreï¿½         1200302                    FEIJO  110000
     Acreï¿½         1200401               RIO BRANCO  235000
     Acreï¿½         1200450         SENADOR GUIOMARD  200000
     Alagoasï¿½      2701506             CAMPO GRANDE     395
...                      ...                      ...     ...
2018 Tocantins       1711100     ITAPORA DO TOCANTINS     225
     Tocantins       1721000                   PALMAS  187950
     Tocantins       1716109     PARAISO DO TOCANTINS  162000
     Tocantins       1718204           PORTO NACIONAL  120000
     Tocantins       1718899  SANTA RITA DO TOCANTINS  259000

[1113 rows x 3 columns]

In [24]:
vendas17_18.to_json('vendas17_18.json', orient='split')

## O que é JSON e quais as vantagens dele sobre o CSV?

### Json é um formato de texto, normalmente usado para comunicação entre sistemas, que transforma informações em pares chave:valor

### Vantagens sobre CSV: Uma das vantagens é que o CSV apresenta um formato raso e plano, enquanto o JSON pode guardar informações quase como uma árvore, onde um ramo pode ter várias informações, que essas informações podem guardar mais informações e segue a ordem.

### Explicações

- Os arquivos foram enviados para o GitHub para serem acessados de forma via link
- Usando o set_index para duas colunas do dataframe, foi possível criar um multiindex com o ANO e o ESTADO
- Devido os dois dataframes terem o mesmo formato, apenas um concat foi necessário para unir os dois dataframes
- Usando o método to_json foi possível exportar a tabela para o formato json, e orient='split' foi o formato de exportação que aparenta ser o melhor jeito de ser JSON puro.