# Projeto I

## As discussões sobre as questão está no final da página

# Tarefa 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
detran19 = pd.read_csv('datatran2019.csv', delimiter=";", encoding='latin1')
detran20 = pd.read_csv('datatran2020.csv', delimiter=";", encoding='latin1')

# Tafera 2

## a)

In [3]:
len(detran19)

67446

In [4]:
len(detran20)

34084

## b)

In [5]:
linhas19, colunas19 = detran19.shape

In [6]:
linhas20, colunas20 = detran20.shape

In [7]:
print(f"O datatran19 tem {linhas19} linhas e {colunas19} colunas")
print(f"O datatran20 tem {linhas20} linhas e {colunas20} colunas")

O datatran19 tem 67446 linhas e 30 colunas
O datatran20 tem 34084 linhas e 30 colunas

# c)

In [8]:
detran19['municipio'].value_counts().head(5)

CURITIBA     1094
BRASILIA     1090
SAO JOSE      819
GUARULHOS     717
SERRA         633
Name: municipio, dtype: int64

In [9]:
detran20['municipio'].value_counts().head()

BRASILIA     582
CURITIBA     540
SAO JOSE     339
PALHOCA      329
GUARULHOS    327
Name: municipio, dtype: int64

## d)

In [10]:
nroGravesPB = detran19[(detran19['uf'] == 'PB') & (detran19['feridos_graves'] > 0)].shape[0]
print(f"Tiveram {nroGravesPB} acidentes com feridos graves em 2019 na Paraíba")

Tiveram 414 acidentes com feridos graves em 2019 na Paraíba

## Tarefa 3

In [11]:
acidentes19_20 = pd.concat([detran19, detran20], join='outer', ignore_index=False, keys=None,
          levels=None, names=None, verify_integrity=False, copy=True)

In [12]:
acidentes19_20.to_csv('acidentes19_20.csv')

### a)

In [13]:
acidentes19_20['uf'].value_counts().head(5)

MG    13132
SC    12506
PR    11648
RS     6920
RJ     6794
Name: uf, dtype: int64

### b)

In [14]:
acidentes19_20['dia_semana'].value_counts()

domingo          16702
sábado           16587
sexta-feira      15773
segunda-feira    13644
quinta-feira     13307
quarta-feira     12868
terça-feira      12649
Name: dia_semana, dtype: int64

## Tarefa 4

### a)

In [15]:
maior_causa_19 = detran19['causa_acidente'].value_counts().index[0]
menor_causa_19 = detran19['causa_acidente'].value_counts().index[-1]

maior_causa_20 = detran20['causa_acidente'].value_counts().index[0]
menor_causa_20 = detran20['causa_acidente'].value_counts().index[-1]

In [16]:
print(f"""
    Em 2019,
    a maior causa foi {maior_causa_19}
    enquanto a menor foi {menor_causa_19}
    
    Já em 2020,
    a maior causa foi {maior_causa_20}
    enquanto a menor foi {menor_causa_20}
""")

    Em 2019,
    a maior causa foi Falta de Atenção à Condução
    enquanto a menor foi Ingestão de Substâncias Psicoativas

    Já em 2020,
    a maior causa foi Falta de Atenção à Condução
    enquanto a menor foi Ingestão de Substâncias Psicoativas

### b)

In [17]:
import calendar

In [18]:
detran19['mes'] = list(map(lambda x: calendar.month_name[int(x[5:7])], list(detran19['data_inversa'])))
detran20['mes'] = list(map(lambda x: calendar.month_name[int(x[5:7])], list(detran20['data_inversa'])))

In [19]:
detran19.set_index('mes', inplace=True)
detran20.set_index('mes', inplace=True)

In [20]:
detran19_n1 = detran19.groupby('mes')[['ilesos', 'feridos_graves', 'feridos_leves']].sum()
detran19_n2 = detran19.groupby('mes')['pessoas'].sum()

detran20_n1 = detran20.groupby('mes')[['ilesos', 'feridos_graves', 'feridos_leves']].sum()
detran20_n2 = detran20.groupby('mes')['pessoas'].sum()

In [21]:
final_detran19 = pd.DataFrame((np.array(detran19_n1.sum(axis=1).values) / detran19_n2.values) * 100)
final_detran19['mes'] = sorted(list(detran19.index.unique()))
final_detran19.set_index('mes', inplace=True)

final_detran20 = pd.DataFrame((np.array(detran20_n1.sum(axis=1).values) / detran20_n2.values) * 100)
final_detran20['mes'] = sorted(list(detran20.index.unique()))
final_detran20.set_index('mes', inplace=True)

In [22]:
final_detran19

                   0
mes
April      90.799844
August     90.611728
December   91.190247
February   91.584033
January    91.999085
July       90.803154
June       90.545075
March      91.473211
May        90.449394
November   90.747305
October    91.343048
September  90.776202

In [23]:
final_detran20

                  0
mes
April     88.784042
February  91.082948
January   91.594966
July      88.985908
June      89.011516
March     89.329863
May       88.581659

### c)

In [24]:
detran19_idx = list(final_detran19.index)
detran20_idx = list(final_detran20.index)

matched_indexes = list(filter(lambda x: x in detran20_idx, detran19_idx))

In [25]:
d19 = detran19.loc[matched_indexes, 'pessoas':].groupby('mes').sum()

In [26]:
d20 = detran20.loc[:, 'pessoas':].groupby('mes').sum()

In [27]:
d19_20 = d20 - d19

In [28]:
d19_20

,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
mes,,,,,,,,
April,-4443,-38,-1657,-373,-2173,-202,-2030,-2968
February,1378,-8,459,206,531,190,665,832
January,952,4,511,25,283,129,536,579
July,-2764,-34,-950,-424,-1346,-10,-1374,-1425
June,-2991,-102,-1179,-425,-1264,-21,-1604,-1635
March,-2810,-16,-893,-349,-1559,7,-1242,-1638
May,-2741,-85,-1011,-384,-1272,11,-1395,-1754

# Discussões

## Questão 1

- Foi usado o método read_csv to pandas para ler o arquivo .csv e importado
-  No método foram passados dois parâmetros importantes, delimiter e encoding
   - Delimiter: Saber qual o caractere sepradador do arquivo importado e assim saber onde começa e termina uma informação
   - Encoding: Para saber de qual lingua vem os caracteres das informações, "transformando" � em ç por exemplo

## Questão 2

- A)
  - O pandas dá a colher de chá que torna preciso apenas pedir o tamanho (len) do dataframe para dar o número de linhas, que coincide com o número de ocorrências nesse caso
- B)
  - O valor shape do dataframe é uma tupla que guarda o número de linhas e colunas, então guardando essa tupla em uma ou duas variáveis, tenho acesso ao número variáveis em cada df
- C)
  - Mesmo que com uma ampla opções para os valores, a coluna 'municipios' ainda teria valores finitos e correspondentes as cidades em que os acidentes ocorreram, então usando .value_counts() é possível pegar as cidades, já ordenadas, que tiveram mais incidencias e acidentes, e usando o .head() logo em seguida do value_counts é possível pegar as 5 primeiras
- D)
  - Como ambos UF e feridos_graves são colunas do dataframe, uma pesquisa booleana com (UF == 'PB') e (feridos_graves > 0) foi suficiente para para saber quais linhas ambos aconteciam, depois um shape[0] foi necessário para pegar o número de linhas, que nesse caso correspondiam ao número de acidentes na Paraíba com feridos graves
  
## Questão 3

### Usando a função a função abaixo foi possível colocar os dois dataframes juntos sem precisar de alterações, já que ambos tinham o mesm formado e apenas os valores mudavam entre os dois.
```
pd.concat([detran19, detran20], join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)
```

- A)
  - Pegando a coluna de estados e usando .value_counts() foi possível ter o numero de ocorrências já ordenada, o .head() foi apenas para pegar os 5 primeiros
- B)
  - O mesmo da A), só que apenas foi usado 'dia_semana' para tal ordem

## Questão 4

- A)
  - Usando a mesma lógica da coluna de municípios, mesmo que tenham vários motivos distintos, eles ainda ficariam entre uma lista de opções, então usando value_counts() na coluna 'causa_acidente' foi sucifiente para ter a lista de causas, usando o index 0 e -1 foi possível pegar a causa mais comum e menos comum
- B)
  - Como a coluna 'mês' não existe no dataframe original, mas usando a coluna 'data_inversa' foi possível pegar o número do mês e usar o mesmo como uma coluna e consequentemente index
  - Em seguida agrupando os valores pelos meses, foi possível somar os valores colunas ilesos, feridos graves e feridos leves.  Também somar os valores da coluna pessoas.
  - Tendo em mãos um dataframe com a soma de ilesos, feridos graves e feridos leves, por mês, em mãos. Foi possível somar toda a linha e dividir pelo número de pessoas envolvidas e obter a proporção.
- C)
  - Como 2020 ainda não terminou, no dataframe não vai ter todos os meses, então primeiro foi necessário pegar os meses que coincidem entre os dois dataframes
  - Em seguida usando loc foi pego as colunas que importam nesse caso, agrupando por mês e somando os de mesmo mês, foi obtido um dataframe com as ocorrências por mês para cada uma das colunas
  - Após fazer isso em ambos os dataframes, fazendo a subtração dos dados de 2020 pelos de 2019 você vai encontrar a diferença desse ano em relação a 2019
  - Valores negativos são a queda em relação a 2019
    - Em Janeiro e Fevereiro as coisas estavam "normais", como mostram os dados, mas após o começo da pandemia e do isolamento os dados  mostram a queda na ocorrência